In [2]:
import pandas as pd

In [3]:
accounts = pd.read_csv('Q2 Data\Accounts + Status.csv')
tasks = pd.read_csv('Q2 Data\Tasks.csv')
tickets = pd.read_csv('Q2 Data\Tickets.csv')
transactions = pd.read_csv('Q2 Data\Transactions.csv')

In [4]:
accounts

      crm_account_id status_change_time status_title  account_manager_id
0                  2     10/31/19 16:54      غیرفعال                  46
1                  4      10/9/19 20:54   در حال خرج                   9
2                  9     10/31/19 16:47      غیرفعال                   9
3                 14     10/31/19 16:50      غیرفعال                   9
4                 17     10/31/19 16:48      غیرفعال                   9
...              ...                ...          ...                 ...
8288           19256     11/13/19 11:33      ثبت‌نام                   8
8289           19257     11/13/19 11:40      ثبت‌نام                  46
8290           19258     11/13/19 11:54   در حال خرج                  46
8291           19258     11/13/19 12:09   در حال خرج                  46
8292           19260     11/13/19 12:41      ثبت‌نام                  46

[8293 rows x 4 columns]

In [5]:
# Accounts + Status
accounts['status_change_time'] = pd.to_datetime(accounts['status_change_time'], format="%m/%d/%y %H:%M")

accounts.info()
accounts.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8293 entries, 0 to 8292
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   crm_account_id      8293 non-null   int64
 1   status_change_time  8293 non-null   datetime64[ns]
 2   status_title        8293 non-null   object
 3   account_manager_id  8293 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 259.3+ KB

   crm_account_id  status_change_time status_title  account_manager_id
0               2 2019-10-31 16:54:00      غیرفعال                  46
1               4 2019-10-09 20:54:00   در حال خرج                   9
2               9 2019-10-31 16:47:00      غیرفعال                   9
3              14 2019-10-31 16:50:00      غیرفعال                   9
4              17 2019-10-31 16:48:00      غیرفعال                   9

In [6]:
tasks

,crm_account_id,task_created_time,task_finish_datetime,assigned_to_id,title
0,12354,9/10/19 0:45,9/12/19 10:01,8,بررسی کمپین‌های تبلیغ‌کننده
1,5212,9/10/19 0:45,9/11/19 16:38,8,بررسی کمپین‌های تبلیغ‌کننده
2,16284,9/10/19 9:37,9/14/19 10:16,9,اولین ورود تبلیغ‌کننده به پنل
3,15052,9/10/19 10:00,9/11/19 12:26,8,پایان شارژ حساب تبلیغ‌کننده
4,6296,9/10/19 10:00,9/11/19 11:36,8,پایان شارژ حساب تبلیغ‌کننده
...,...,...,...,...,...
5089,19255,11/13/19 11:29,NaN,9,تماس با تبلیغ‌کننده تازه تایید شده
5090,19256,11/13/19 11:37,11/13/19 12:04,8,تماس با تبلیغ‌کننده تازه تایید شده
5091,19257,11/13/19 11:46,NaN,46,تماس با تبلیغ‌کننده تازه تایید شده
5092,19258,11/13/19 11:56,NaN,46,تماس با تبلیغ‌کننده تازه تایید شده
5093,18352,11/13/19 12:51,11/13/19 12:52,8,بررسی کمپین‌های تبلیغ‌کننده

In [7]:
# Tasks
tasks['task_created_time'] = pd.to_datetime(tasks['task_created_time'], format="%m/%d/%y %H:%M")
tasks['task_finish_datetime'] = pd.to_datetime(tasks['task_finish_datetime'], format="%m/%d/%y %H:%M")

tasks['task_completion_time'] = tasks['task_finish_datetime'] - tasks['task_created_time']

tasks = tasks.set_index("task_created_time")

tasks.info()
tasks['task_completion_time'].describe()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5094 entries, 2019-09-10 00:45:00 to 2019-11-13 12:51:00
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   crm_account_id        5094 non-null   int64
 1   task_finish_datetime  2958 non-null   datetime64[ns]
 2   assigned_to_id        5094 non-null   int64
 3   title                 5094 non-null   object
 4   task_completion_time  2958 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), int64(2), object(1), timedelta64[ns](1)
memory usage: 238.8+ KB

count                      2958
mean     1 days 17:14:08.052738
std      3 days 07:15:58.491583
min             0 days 00:00:00
25%             0 days 05:09:45
50%             0 days 21:01:00
75%             2 days 01:11:00
max            37 days 18:51:00
Name: task_completion_time, dtype: object

In [8]:
tasks

,crm_account_id,task_finish_datetime,assigned_to_id,title,task_completion_time
task_created_time,,,,,
2019-09-10 00:45:00,12354,2019-09-12 10:01:00,8,بررسی کمپین‌های تبلیغ‌کننده,2 days 09:16:00
2019-09-10 00:45:00,5212,2019-09-11 16:38:00,8,بررسی کمپین‌های تبلیغ‌کننده,1 days 15:53:00
2019-09-10 09:37:00,16284,2019-09-14 10:16:00,9,اولین ورود تبلیغ‌کننده به پنل,4 days 00:39:00
2019-09-10 10:00:00,15052,2019-09-11 12:26:00,8,پایان شارژ حساب تبلیغ‌کننده,1 days 02:26:00
2019-09-10 10:00:00,6296,2019-09-11 11:36:00,8,پایان شارژ حساب تبلیغ‌کننده,1 days 01:36:00
...,...,...,...,...,...
2019-11-13 11:29:00,19255,NaT,9,تماس با تبلیغ‌کننده تازه تایید شده,NaT
2019-11-13 11:37:00,19256,2019-11-13 12:04:00,8,تماس با تبلیغ‌کننده تازه تایید شده,0 days 00:27:00
2019-11-13 11:46:00,19257,NaT,46,تماس با تبلیغ‌کننده تازه تایید شده,NaT
2019-11-13 11:56:00,19258,NaT,46,تماس با تبلیغ‌کننده تازه تایید شده,NaT
2019-11-13 12:51:00,18352,2019-11-13 12:52:00,8,بررسی کمپین‌های تبلیغ‌کننده,0 days 00:01:00

In [9]:
tasks_by_title = tasks.groupby('title').count()
tasks_by_title.iloc[:, [0]]

                                                crm_account_id
title
اولین ورود تبلیغ‌کننده به پنل                              272
بررسی افت خرج تبلیغ‌کننده                                   55
بررسی دوره‌ای کمپین‌های ویژه مشتری                         799
بررسی علت توقف کمپین تبلیغ‌کننده وفادار یا vip             108
بررسی علت توقف کمپین تبلیغ‌کننده‌                         2012
بررسی علت عدم ادامه همکاری تبلیغ‌کننده                     315
بررسی وضعیت تبلیغ‌کننده برای اولین بار                     327
بررسی وضعیت شارژ لید مشتری شده                               4
بررسی کمپین‌های تبلیغ‌کننده                                150
تماس اولیه با لید تازه‌وارد                                  6
تماس با تبلیغ‌کننده تازه تایید شده                         732
تماس برای ارائه راهنمایی‌های فنی                             4
تنظیم جلسه با مشتری/ لید                                     1
خوش‌آمدگویی به مشتری‌ای که دوباره برگشته                   157
پایان شارژ حساب تبلیغ‌کننده                                152

In [10]:
tickets

,crm_account_id,message_date,answer_date,responder_id,ticket_type
0,960,"Wednesday, November 13, 2019","Wednesday, November 13, 2019",46,سوال کلی تبلیغ‌کننده
1,18214,"Tuesday, November 12, 2019","Wednesday, November 13, 2019",46,درخواست بررسی حساب مسدود
2,17932,"Tuesday, November 12, 2019","Wednesday, November 13, 2019",8,گزارش مشکل در پنل تبلیغ‌کننده
3,19203,"Tuesday, November 12, 2019","Wednesday, November 13, 2019",46,سوال کلی تبلیغ‌کننده
4,11622,"Tuesday, November 12, 2019","Tuesday, November 12, 2019",9,سوال کلی تبلیغ‌کننده
...,...,...,...,...,...
447,19,"Wednesday, September 11, 2019","Wednesday, September 11, 2019",8,سوال و مشکل فنی در مورد کمپین‌ها
448,15637,"Wednesday, September 11, 2019","Wednesday, September 11, 2019",8,مالی و صدور فاکتور
449,14505,"Wednesday, September 11, 2019","Wednesday, September 11, 2019",8,سوال و مشکل فنی در مورد کمپین‌ها
450,2921,"Tuesday, September 10, 2019","Wednesday, September 11, 2019",8,سوال کلی تبلیغ‌کننده
451,16293,"Tuesday, September 10, 2019","Tuesday, September 10, 2019",8,سوال و مشکل فنی در مورد کمپین‌ها

In [11]:
# Tickets
tickets['message_date'] = pd.to_datetime(tickets['message_date'], format="%A, %B %d, %Y")
tickets['answer_date'] = pd.to_datetime(tickets['answer_date'], format="%A, %B %d, %Y")
tickets.info()
tickets.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   crm_account_id  452 non-null    int64
 1   message_date    452 non-null    datetime64[ns]
 2   answer_date     452 non-null    datetime64[ns]
 3   responder_id    452 non-null    int64
 4   ticket_type     452 non-null    object
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 17.8+ KB

,crm_account_id,message_date,answer_date,responder_id,ticket_type
0,960,2019-11-13,2019-11-13,46,سوال کلی تبلیغ‌کننده
1,18214,2019-11-12,2019-11-13,46,درخواست بررسی حساب مسدود
2,17932,2019-11-12,2019-11-13,8,گزارش مشکل در پنل تبلیغ‌کننده
3,19203,2019-11-12,2019-11-13,46,سوال کلی تبلیغ‌کننده
4,11622,2019-11-12,2019-11-12,9,سوال کلی تبلیغ‌کننده

In [12]:
transactions

      crm_account_id              Transaction_date  Transaction_amount
0               4983  Thursday, September 19, 2019                2888
1              10400  Thursday, September 19, 2019                5666
2              13600  Thursday, September 19, 2019                2888
3               1979  Thursday, September 19, 2019                5111
4              13509  Thursday, September 19, 2019                2888
...              ...                           ...                 ...
3600            1629     Monday, November 18, 2019                2888
3601            9377     Monday, November 18, 2019                7871
3602             433     Monday, November 18, 2019                8444
3603           11414     Monday, November 18, 2019                2888
3604            9904     Monday, November 18, 2019               29277

[3605 rows x 3 columns]

In [13]:
# Transactions
transactions['Transaction_date'] = pd.to_datetime(transactions['Transaction_date'], format="%A, %B %d, %Y")
transactions.info()
transactions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3605 entries, 0 to 3604
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   crm_account_id      3605 non-null   int64
 1   Transaction_date    3605 non-null   datetime64[ns]
 2   Transaction_amount  3605 non-null   int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 84.6 KB

   crm_account_id Transaction_date  Transaction_amount
0            4983       2019-09-19                2888
1           10400       2019-09-19                5666
2           13600       2019-09-19                2888
3            1979       2019-09-19                5111
4           13509       2019-09-19                2888

In [17]:
accounts

      crm_account_id  status_change_time status_title  account_manager_id
0                  2 2019-10-31 16:54:00      غیرفعال                  46
1                  4 2019-10-09 20:54:00   در حال خرج                   9
2                  9 2019-10-31 16:47:00      غیرفعال                   9
3                 14 2019-10-31 16:50:00      غیرفعال                   9
4                 17 2019-10-31 16:48:00      غیرفعال                   9
...              ...                 ...          ...                 ...
8288           19256 2019-11-13 11:33:00      ثبت‌نام                   8
8289           19257 2019-11-13 11:40:00      ثبت‌نام                  46
8290           19258 2019-11-13 11:54:00   در حال خرج                  46
8291           19258 2019-11-13 12:09:00   در حال خرج                  46
8292           19260 2019-11-13 12:41:00      ثبت‌نام                  46

[8293 rows x 4 columns]

In [18]:
transactions.to_csv("Transactions - Edited.csv")
tasks.to_csv("Tasks - Edited.csv")
tickets.to_csv("Tickets - Edited.csv")
accounts.to_csv("Accounts - Edited.csv")